*{
    box-sizing: border-box;
    margin: 0;
    font-size: 100%;
    font-family: 'Special Elite', 'Verdana';
}

body, html {
    height: 100%;
    background-image: url(Images/reducedHouse.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* page d'accueil */
.fond {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(231, 37, 37, 0.1) 50%, rgb(97, 146, 101));
    width: 100%;
    height: 100%;
}
#intro {
    position : absolute;
    bottom: 7%;
    left: 30px;
    font-size: 1.4em;
}
h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
}
input, input:focus {
    border: 2px solid #555;
    outline: none;
    width: 150px;
}
.gender {
    display: inline;
}

/* caractéristiques */
.hero {
    width: 140px;
    float: left;
    margin: 10px 0 0 10px;
    border: solid 2px #555;
}
#gemicon {
    width: 140px;
    float: right;
    margin: 10px 10px 0 0;
    display: none;
}
.caracimg::after {
    display: table;
    content: "";
    clear: both;
}
#name {
    float: left;
    margin: 10px 0 0 10px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 1.4em;
}
.caractxt::after {
    display: table;
    content: "";
    clear: both;
}

/* histoire */
#game {
    /* changer display en none pour la vraie version */
    display: none;
    position: relative;
}
#story {
    position: relative;
    margin: 25px 10px 10px 10px;
    z-index: 2;
}
.text {
    border: 0.5px #555 solid;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 10px;
    background-image: url(Images/reducedfontPapier.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#reStart {
    display: block;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    border: gray 1px solid;
    border-radius: 6px;
    color: black;
    padding: 5px;
    width: 130px;
}
a, a:active, a:visited {
    text-decoration: none;
}
h2 {
    margin-bottom: 20px;
    font-size: 1.2em;
}
h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
}
.end .text {
    border: black solid 2px;
    border-radius: 0;
}

/* choix */
.choice {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    background-color: black;
    border: gray 1px solid;
    border-radius: 6px;
    color: white;
    padding: 5px;
}

/* sons */
.song {
    display: none;
}

@media screen and (max-width: 600px) {
    #intro, #name {
        font-size: 1.3em;
    }
    #intro {
        bottom: 3%;
    }
    h1 {
        font-size: 2.5em;
        text-align: center;
    }
    .gender {
        margin: 20px;
        display: flex;
        justify-content: center;
    }
    .gender button {
        margin: 5px;
    }
    .hero, #gemicon {
        width: 80px;
    }
    #story {
        margin: 10px;
        font-size: 0.9em;
    }
}