*{
    box-sizing: border-box;
    margin: 0;
    font-size: 100%;
    font-family: 'Special Elite';
}

body, html {
    height: 100%;
}

/* page d'accueil */
.accueil {
    position: relative;
    height: 100%;
}
.imgintro {
    background-image: url(Images/reducedhorrorMansion.webp);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fond {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(231, 37, 37, 0.1) 50%, rgb(97, 146, 101));
    width: 100%;
    height: 100%;
}

.intro {
    position : absolute;
    bottom: 5%;
    left: 12px;
    font-size: 1.2em;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

a, a:active, a:visited {
    text-decoration: none;
    color: black;
}

input, input:focus {
    border: 2px solid #555;
    outline: none;
}